.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  background-color: #00ff37f6;
  width: 640px;
  height: 640px;
  font-size: 0;
  animation: board infinite 3s linear;
}

.cell {
  display: flex;
  border: solid 1px black;
  width: 80px;
  height: 80px;
  align-items: center;
  justify-content: center;
}

.stone {
  width: 56px;
  height: 56px;
  border-radius: 30px;
}

/* @keyframes board {
  0% {
    background-color: #000;
  }

  50% {
    background-color: #000;
  }

  50.1% {
    background-color: #fff;
  }

  100% {
    background-position: #fff;
  }
} */

.turn {
  width: 640px;
  height: 80px;
  font-size: 50px;
  text-align: center;
  background-color: #7fffd4;
}

.whitecount {
  width: 640px;
  height: 80px;
  font-size: 50px;
}

.blackcount {
  width: 640px;
  height: 80px;
  font-size: 50px;
}
